body {
            overflow: hidden;
        }

        .navbar-offset {
            margin-top: 50px;
        }

        #canvas {
            position: absolute;
            top: 50px;
            bottom: 0px;
            left: 0px;
            right: 0px;
            visibility:visible;
            display:none;
        }

            #canvas .ol-zoom {
                font-size: 1.2em;
            }

        .zoom-top-opened-sidebar {
            margin-top: 5px;
        }

        .zoom-top-collapsed {
            margin-top: 45px;
        }

        .mini-submenu {
            display: none;
            background-color: rgba(255, 255, 255, 0.46);
            border: 1px solid rgba(0, 0, 0, 0.9);
            border-radius: 4px;
            padding: 9px;
            /*position: relative;*/
            width: 42px;
            text-align: center;
        }

        .mini-submenu-left {
            position: absolute;
            top: 60px;
            left: .5em;
            z-index: 40;
        }

        #canvas {
            z-index: 35;
        }

        .sidebar {
            padding-left:30px;
            z-index: 45;
        }

        .main-row {
            position: relative;
            top: 0;
        }

        .mini-submenu:hover {
            cursor: pointer;
        }

        .slide-submenu {
            background: rgba(0, 0, 0, 0.45);
            display: inline-block;
            padding: 0 8px;
            border-radius: 4px;
            cursor: pointer;
        }

        #logo {
            color: white;
        }

        #image {
            background-size: contain;
            height: auto;
            width: auto;
        }

        #gridpanel {
            position:relative;
            z-index:100;
            height: 500px;
            width: 70%;
            visibility:hidden;
            background-color: #009900;
        }